@import 'reset';

$body-color: black;

body {
  color: $body-color;

}

#navbar{
  background-color: red;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  #nav-list{
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    align-items: flex-end;
    margin: 0;
    padding: 1em;
    li{
      font-family: Trirong;
      font-weight: bold;
      color: white;
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
        a{
          color: white;
        }
    }
  }
}

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100vh;
  color: white;
  font-family: 'Rubik', 'Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
  padding: 1em;
  font-size: 25px;
  width: 100vw;
}

#name, h4{
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}

a:hover {
  text-decoration: none;
}

.center{
  text-align: center;
}

#projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em 2em;
  h3{
    padding-top: 3em;
  }
  .project-tile{
    width: 35%;
    min-width: 250px;;
    max-width: 500px;
    margin: 1em;
    border: 1px solid black;
    a{
      color: black;
    }
  }
}

.project-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  text-align: center;
  background-color: lightgray;
  img{
    max-width: 100%;
    grid-row: 1/2;
  }
  h4{
    padding: 0.5em 0;
    grid-row: 2/3;
  }
}

#social{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 3em ;

  a{
    color: black;
    :hover{
      color: blue;
    }
  }
  .icon{
    margin: 0 2em;
  }
}

#contact{
  margin: 3em;
  
 
  /* input, select{
    height: 30px;
    margin-top: 0.5em;
    margin-bottom: 2em; 
  }
  label{
    display: block;
    margin-right: 1em;
  }
  
  input[type="text"], input[type="email"], input[type="number"]{
    width: 70%;
    max-width: 30em;
  }
  
  input[type="select"]{
    width: 10em;
  }
  #comments{
    height: 10em; 
    width: 18em;
    padding: 0.25em; 
  }
  
  #submit-button{
    background-color: rgb(76, 127, 175); 
    border: none;
    border-radius: 0.3em;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2em auto;
    width: 10em;
    display: block;
    height: auto; 
  }*/
}


 footer{
   padding: 3em;
   background-color: cadetblue;
   text-align: right;
 }
