@import 'reset';

$body-color: black;

body {
  color: $body-color;

}

#navbar{
  background-color: red;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;
  #nav-list{
    display: flex;
    flex-flow: row wrap; 
    justify-content: space-around;
    align-items: flex-end;
    margin: 0;
    padding: 1em;
    li{
      font-family: Trirong;
      font-weight: bold;
      color: white;
      margin: 0;
      padding: 0;
      list-style: none;
      display: inline-block;
    }
  }
}

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100vh;
  color: white;
  font-family: 'Rubik', 'Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
  padding: 1em;
  font-size: 25px;
  width: 100vw;
}

#name, h4{
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
  color: white;
}

a:hover {
  text-decoration: none;
}

.center{
  text-align: center;
}

#projects{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  padding: 1em 2em;
}

.project-tile{
  width: 35%;
  min-width: 250px;;
  max-width: 500px;
  margin: 1em;
  border: 1px solid black;
 /*  overflow: hidden; */
}

.project-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  text-align: center;
  img{
    max-width: 100%;
    grid-row: 1/2;
  }
  h4{
    padding: 0.5em 0;
    grid-row: 2/3;
  }
}
#social{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 3em;
}
 .icon{
   margin: 0 2em;
 }
