@import 'reset';

$body-color: black;

body {
  color: $body-color;
}

#welcome-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: red;
  height: 100vh;
  color: white;
  font-family: 'Rubik', 'Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3{
  padding: 1em;
}

#name, h4{
  margin: 0;
}

a {
  text-decoration: none;
  padding: 0;
}
a:hover {
  text-decoration: none;
}
#projects{
  text-align: center;
  height: 800px;
}

.project-tile{
  width: 35%;
  margin: 0 auto;
  border: 1px solid black;
 /*  overflow: hidden; */
}

.project-container{
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto auto;
  grid-row-gap: 5px;
  text-align: center;
  img{
    max-width: 100%;
    grid-row: 1/2;
  }
  h4{
    padding: 0.5em 0;
    grid-row: 2/3;
  }
}

